:root{
    --black : #000000a8;
    /* --red : rgb(235 68 68); */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;  
    --light: #f8f9fa;
    --dark: #343a40;
}
.datatable {
    background: var(--white);
    width: fit-content;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black inset;
} 
.datatable th {
    font-size: larger;
    padding: 1em;
    background: var(--blue);
    color: var(--white);
}
.datatable td {
    padding: 0.5em;
    font-size: 18px;
}
.datatable table{
    border: 1px solid var(--dark);
}
.datatable button.edit {
    background: #e1f6e1;
    color: var(--green);
}
.datatable button.remove {
    background: #ffeded;
    color: var(--red);
}
.datatable button{
    border: 2px;
}
.datatable button {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
}
.image_parent {
    /* width: 150px;
    height: 110px;
    margin: auto;
    float: left; */
    float: left;
    width: 100px;
    background: white;
    height: 100px;
    overflow: hidden;
}
.image_parent img{
   /*  margin: auto; */
    float: left;
    max-width: 100%;
    max-height: 100%;
}
.message_popup{
    width: fit-content;
    background-color: lightgreen;
    padding: 10px;
    position: fixed;
    border-radius: 0px;
    box-shadow: 0px 0px 5px greenyellow inset;
    font-weight: 900;
    color: var(--black);
    border: 1px solid green;
    right: 5%;
    display: none;
}
.message_error{
    color: var(--red);
    background-color: #fff0f0;
    border: 1px solid black;
    border: 1px solid var(--red);
    font-weight: 700;
}
.form_edit_popup{
    padding: 1em;
    background-color: white;
    width: 700px;
}

.close_editCategory:hover{
    outline: 1px solid black; 
}