:root{
    --black : #000000a8; 
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;  
    --light: #f8f9fa;
    --dark: #343a40;
    --success_bg: #c1ffd0;
    --background: #F4F6F9;
}
 
.datatable {
    background: var(--background);
    width: fit-content;
    color: var(--dark);
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 4px var(--black) inset;
} 
.datatable th {
    font-size: larger;
    padding: 15px;
    background: var(--blue);
    color: var(--white);
}
.datatable td {
    padding: 0.5em;
    font-size: 18px;
}
.datatable table{
    border: 1px solid var(--dark);
    background-color: var(--white);
}
.datatable button.edit {
    background: var(--white);
    color: var(--green);
}
.datatable button.remove {
    background: var(--white);
    color: var(--red);
}
.datatable button{
    border: 2px;
}
.datatable button {
    border: 1px solid var(--black);
    border-radius: 5px;
    font-weight: 600;
}
.image_parent {
    /* width: 150px;
    height: 110px;
    margin: auto;
    float: left; */
    float: left;
    width: 100px;
    background: var(--white);
    height: 100px;
    overflow: hidden;
}
.image_parent img{
   /*  margin: auto; */
    float: left;
    max-width: 100%;
    max-height: 100%;
}
.message_popup{
    width: fit-content;
    background-color: var(--success_bg);
    padding: 10px;
    position: fixed;
    border-radius: 0px;
    box-shadow: 0px 0px 5px var(--success) inset;
    font-weight: 900;
    color: var(--green);
    border: 1px solid var(--green);
    right: 5%;
    display: none;
}
.message_error{
    color: var(--red);
    background-color: var( --light );
    border: 1px solid var( --black );
    border: 1px solid var(--red);
    font-weight: 700;
}
.form_edit_popup{
    padding: 1em;
    background-color: var(--white);
    width: 700px;
} 
.close_editCategory:hover{
    background-color: var(--dark);
}
.oes_anchor_class{
    text-decoration: none; 
}
.floatLeft{
    float: left;
}
.dataTableHeader, .datatablefooter {
    padding: 2px 10px;
    background: var(--background);
    width: 100%;
    display: inline-block;
    font-size: large;
}
.dataTableHeader .showRecordsSelectPicker{
    float: left;
    width: 60%;
}
.dataTableHeader .searchRecord, 
.dataTableHeader .showHideColumn{
    float: left;
    width: 20%; 
}
.dataTableHeader .datatable_field{
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid var(--dark);
    background-color: var(--white);
}
.dataTableHeader .showHideColumn{
    cursor: pointer;
}
.datatablefooter .showingContext {
    float: left; 
    width: fit-content;
}
.datatable_pagination{
    float: right;
}
.oesDatatableActive{
    background-color: red;
}
.record_limit{
    cursor: pointer;
}
.oes_loader_center {
    background: var(--dark);
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 22px;
    z-index: 9999;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--blue);
}