:root{
    --black : #000000a8;
    /* --red : rgb(235 68 68); */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;  
    --light: #f8f9fa;
    --dark: #343a40;
}

.form_container {
    background-color: white;
    border: 1px solid silver;
    padding: 10px;
    color: var(--black);
    width: fit-content;
    margin: 10px auto;
}
.field{
    width: 100%;
    border : 1px solid var(--black);
    border-radius: 5px;
    padding: 5px;
    color: var(--black);
}

.field_container {
    margin: 15px 5px;
}
label {
    margin: 2px 0px;
}
form#categoryform {
    width: 25em;
}
input[type=submit]{
    margin: 10px 0px;
}
.title{
    text-align: center;
    color: var(--black); 
}
.message_popup{
    width: fit-content;
    background-color: lightgreen;
    padding: 10px;
    position: fixed;
    border-radius: 0px;
    box-shadow: 0px 0px 5px greenyellow inset;
    font-weight: 900;
    color: var(--black);
    border: 1px solid green;
    right: 5%;
    display: none;
}
.formerror {
    color: var(--red);
    margin: 0em 0.2em;
}
.message_error{
    color: var(--red);
    background-color: #fff0f0;
    border: 1px solid black;
    border: 1px solid var(--red);
    font-weight: 700;
}
input::file-selector-button{
    font-weight: bold;
    background-color: aliceblue;
    color: var(--black); 
    border: 0.4px dashed var(--blue);
    border-radius: 3px;
    width:50%;
} 
input[type=file]{
    width: 100%;
    background-color: var(--gray);
    color: var(--light);
}